.content{
    width: auto;
    height: auto;

    
}
.logo{
    width: 150px;
    height: 42px;
    margin-left: 40px;


}
.img{
    width: 150px;
    height: 42px;
}
.nav{
    height:80px;
    width: 100%;
    padding-top: 20px;
    background-color: black ;
    float: left;
    
    
}
body{
    margin: 0px;
}
.yazı{
    margin-left: 250px;
    margin-top: -35px;
}
.yazi2{
    width: 600px;
    height: 35px;

    background-image: url('img/yuvarlak.png');
    background-repeat: no-repeat;
    background-position:10px;
}
.istanbul{
    float: left;
    margin-left: 900px;
    margin-top: -55px;
    
}
.istanbul2{
    color: aliceblue;
}
.istanbul3{
    text-decoration: none;
}
.kaydol{
    float: right;
    margin-right: 350px;
    margin-top: -25px;
}
.kaydol3{
    float: right;
    margin-right: -100px;
    margin-top: 0px;
    font-size: 12px;
    color: aliceblue;
    padding-left: 5px;
}



.motor{
    
    height: 180px;
    width: 80px;
    
    

}

.motor2{
    width: 100px;
    height: 100px;
    border: 10px double purple;
    background-color: purple;
    border-radius: 300px 300px 300px 300px;
    margin-left: 50px;
    float: left;
    margin-top: 10px;



}

.motor1{
    margin-top: 50px;
    margin-left: 30px;
}

.elektironik2{
    margin-top: 50px;
    margin-left: 30px;
    
}

.elektironik1{
    width: 100px;
    height: 100px;
    border: 10px double orangered;
    background-color: orangered;
    border-radius: 300px 300px 300px 300px;
    float: left;
    margin-left: 20px;
}

.emlak2{
    margin-top: 50px;
    margin-left: 30px;
}

.emlak1{
    width: 100px;
    height: 100px;
    border: 10px double green;
    background-color: green;
    border-radius: 300px 300px 300px 300px;
    float: left;
    margin-left: 20px;
}

.mobilya2{
    margin-top: 50px;
    margin-left: 30px;
}

.mobilya1{
    width: 100px;
    height: 100px;
    border: double turquoise;
    background-color: turquoise;
    border-radius: 300px 300px 300px 300px;
    float: left;
    margin-left: 20px;
}

.spor2{
    margin-top: 50px;
    margin-left: 30px;
}

.spor1{
    width: 100px;
    height: 100px;
    border: double darkturquoise;
    background-color: darkturquoise;
    border-radius: 300px 300px 300px 300px;
    float: left;
    margin-left: 20px;
}

.kitap2{
    margin-top: 50px;
    margin-left: 30px;
}

.kitap1{
    width: 100px;
    height: 100px;
    border: double lightpink;
    background-color: lightpink;
    border-radius: 300px 300px 300px 300px;
    float: left;
    margin-left: 20px;

}

.aletler2{
    margin-top: 50px;
    margin-left: 30px;
}

.aletler1{
    width: 100px;
    height: 100px;
    border: double blue;
    background-color: blue;
    border-radius: 300px 300px 300px 300px;
    float: left;
    margin-left: 20px;
}
